# Global variables
ENVIRONMENT=dev
JWT_SECRET=super-secure-random-string

# Server variables
SERVER_ADDRESS=:8080
# Timeout in seconds
SERVER_TIMEOUT=4
SERVER_IDLE_TIMEOUT=60
SERVER_SHUTDOWN_TIMEOUT=10

# DB variables
DB_NAME=postgres
DB_PORT=5432
DB_USER=dbuser
DB_PASS=my_db_password